__pycache__/
data/
output/
runs/
slurm*
.vscode/
grad_flow*
.ipynb_checkpoints/
img1.jpg
improved-net.pt
lightning_logs/
saved_model/
relations/
.vector_cache/
core
debug/
masks/
prepare.sh
results/
wandb/
debug_slurm/
mask_rcnn_results/
refcoco+_*
refcoco_*
run.sh
batch.sh
models/deeplab-*

unc+_*
unc_*

node_init.sh

dcrf_out.png
old_batch.sh

models/deeplabv1_resnet101-coco.pth
models/deeplabv2_resnet101_msc-vocaug.pth
